*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    width: 100vw;
    height: 100vh;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.msg {
    color: #000;
    text-shadow: -1px -1px #fff, 1px -1px #fff, -1px 1px #fff, 1px 1px #fff;
    padding: 10px 0;
}

.input-box {
    color: #000000;
    background-color: #ffffff;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    padding: 10px 20px;
    margin: 20px 0;
    border-radius: 10px;
}

.change-btn {
    padding: 14px 26px;
    font-size: 25px;
    color: #99FEFF;
    background-color: #B983FF;
    border: 2px solid #B983FF;
    border-radius: 8px;
    cursor: pointer;
}

.change-btn:hover {
    color: #94B3FD;
    border: 2px solid #94DAFF;
}